<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" xmlns:og="http://ogp.me/ns#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>今日速2ch - 2ちゃんねるまとめブログ</title>
<meta name="keywords" content="今日,2ch,2ちゃんねる,まとめ,ブログ" />
<meta name="description" content="2chで今日話題の芸能スポーツニュースなどを紹介する2ちゃんねるまとめブログ" />
<meta property="og:type" content="blog" />
<meta property="og:title" content="今日速2ch" />
<meta property="og:description" content="2chで今日話題の芸能スポーツニュースなどを紹介する2ちゃんねるまとめブログ" />
<meta property="og:url" content="http://kyousoku.net/" />
<meta property="og:image" content="http://livedoor.blogimg.jp/kyousoku1/imgs/b/5/b549875f.gif" />
<meta property="og:site_name" content="今日速2ch" />
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:site" content="@kyousoku1" />
<meta name="twitter:title" content="今日速2ch" />
<meta name="twitter:description" content="2chで今日話題の芸能スポーツニュースなどを紹介する2ちゃんねるまとめブログ" />
<meta name="twitter:card" content="summary" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="stylesheet" href="http://kyousoku.net/site.css" type="text/css" />
<link rel="stylesheet" href="http://parts.blog.livedoor.jp/css/template.css" type="text/css" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="http://kyousoku.net/index.rdf" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="http://kyousoku.net/atom.xml" />

<link rel="icon" href="http://kyousoku.net/favicon.ico" type="image/x-icon" />  
<link rel="shortcut icon" href="http://kyousoku.net/favicon.ico" type="image/x-icon"  />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://kyousoku.net/js/navi.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20698296-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Add Google Analytics Tag // -->
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-20698296-4']);
_gaq.push(['_trackPageview']);
_gaq.push(['_setCookiePath', '/']);

(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<!-- // Add Google Analytics Tag -->

</head>

<body><script type="text/javascript"><!--
var ld_blog_vars = {
  provider_id : '1',
  provider_name : 'livedoor',
  id : '4899175',
  name : 'kyousoku1',
  charset : 'utf8',
  url : 'http://kyousoku.net/',
  title : '今日速2ch',
  blog_design: {
      version: 1
  },
  blog_category: {
    id: '243',
    permalink: 'http://blog.livedoor.com/category/243/',
    name: 'まとめ(総合) > まとめ',
    is_adult : 0,
    is_gambling : 0,
    hierarchy: [{ id: '431', name: 'まとめ(総合)', permalink: 'http://blog.livedoor.com/category/431/' },{ id: '243', name: 'まとめ', permalink: 'http://blog.livedoor.com/category/243/' }]
  },
  current_page : {
    type : 'index',    page : '1'
  },
  articles : [  ]
};
//-->
</script><div id="analyzer_tags" style="display:none">
<script type="text/javascript" src="http://parts.blog.livedoor.jp/js/c2.js"></script>
<script type="text/javascript">blog_counter('kyousoku1', 4899175, 'http://kyousoku.net/')</script>
</div><script type="text/javascript" src="http://parts.blog.livedoor.jp/js/smartphone.js?v=20131007"></script>
<script type="text/javascript" src="http://kyousoku.net/settings/header.js"></script><script type="text/javascript" src="http://kyousoku.net/settings/ad.js"></script>
<script type="text/javascript">
var palette_src = 'http://parts.blog.livedoor.jp/img/emoji/2/palette.png';
if (typeof IMAGE_CACHE == 'object' && IMAGE_CACHE['emoji_palette']) IMAGE_CACHE['emoji_palette'].src = palette_src;
</script><a name="top"></a>
<!-- Blog Common Header // -->
<!-- // Blog Common Header -->

<div id="container">

<div id="header-top"><h1>今日速2ch - 2ちゃんねるまとめブログ</h1></div>
<div id="header">
<div id="header-in">
<a href="http://kyousoku.net/"><img src="http://kyousoku.net/img/top.png" alt="今日速2ch"></a>
</div>
</div>

<div id="menu" class="radius1">
<div id="menu-in">
<ul>
<li class="first"><a href="http://kyousoku.net/">HOME</a></li>
<li><a href="http://kyousoku.net/index.rdf" target="_blank">RSS</a></li>
<li><a href="http://2ch-c.net/?p=site&sid=259" target="_blank">最新記事一覧</a></li>
<li><a href="http://2ch-c.net/" target="_blank">(*ﾟーﾟ)</a></li>
<li><a href="http://get2ch.net/" target="_blank">2get</a></li>
</ul>
</div>
</div>

<div id="rssmain" class="radius">
<div id="rss1">
<script type="text/javascript">
<!--
    var blogroll_channel_id = 34887;
// -->
</script>
<script type="text/javascript" charset="utf-8" src="http://blogroll.livedoor.net/js/blogroll.js"></script>
<link rel="stylesheet" type="text/css" href="http://blogroll.livedoor.net/css/default2.css" />
</div>
<div id="rss2">
<script type="text/javascript">
<!--
    var blogroll_channel_id = 35028;
// -->
</script>
<script type="text/javascript" charset="utf-8" src="http://blogroll.livedoor.net/js/blogroll.js"></script>
<link rel="stylesheet" type="text/css" href="http://blogroll.livedoor.net/css/default2.css" />
</div>
</div>

<div id="content">
<div id="main">

<div class="box radius">

<script type="text/javascript" src="http://sh.adingo.jp/?G=1000016609&guid=ON"></script>
<script type="text/javascript">
//<![CDATA[
if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000023273');
//]]>
</script>

</div>

<ol id="navi" class="radius">
<li class="home"><strong>今日速2ch</strong></li>
</ol>

<div id="rsspickup" class="radius">
<script type="text/javascript">
<!--
    var blogroll_channel_id = 37595;
// -->
</script>
<script type="text/javascript" charset="utf-8" src="http://blogroll.livedoor.net/js/blogroll.js"></script>
</div>

<div class="box radius">

<script type="text/javascript" src="http://sh.adingo.jp/?G=1000016615&guid=ON"></script>
<script type="text/javascript">
//<![CDATA[
if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000023279');
//]]>
</script>

</div>

<div class="column-inner">
	 

<!-- ArticlesLoop Start -->
<!-- google_ad_section_start -->

<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49231440',
       permalink : 'http://kyousoku.net/archives/49231440.html',
       title : '【画像】広瀬すず、髪の毛をバッサリと切る',
       categories : [ { id:'127955', name:'女優', permalink:'http://kyousoku.net/archives/cat_127955.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-04 02:13:06'
     });
  }
//-->
</script>


<div id="ad_rs" class="ad_rs_b"></div>
<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49231440.html" title="個別記事ページへ" rel="bookmark">【画像】広瀬すず、髪の毛をバッサリと切る</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-04T02:13:06+0900">2016年08月04日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_127955.html" title="女優カテゴリ記事">女優</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49231440.html#comments" title="コメント一覧へ">6コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49231440.html" data-text="【画像】広瀬すず、髪の毛をバッサリと切る - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49231440.html"><img src="http://resize.blogsys.jp/6f34bc449cdc20b1122d29836aed13db6ffbc24a/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/d/7/d7b8d77e-s.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49231440.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->


<div class="box radius">

<script type="text/javascript" src="http://sh.adingo.jp/?G=1000016616&guid=ON"></script>
<script type="text/javascript">
//<![CDATA[
if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000023280');
//]]>
</script>

</div>



<div id="ad2"></div><script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49230299',
       permalink : 'http://kyousoku.net/archives/49230299.html',
       title : '【画像】“美しすぎる新体操選手”畠山愛理ちゃんｗｗｗｗｗｗｗｗｗｗ',
       categories : [ { id:'125399', name:'スポーツ', permalink:'http://kyousoku.net/archives/cat_125399.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-03 23:01:13'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49230299.html" title="個別記事ページへ" rel="bookmark">【画像】“美しすぎる新体操選手”畠山愛理ちゃんｗｗｗｗｗｗｗｗｗｗ</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-03T23:01:13+0900">2016年08月03日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_125399.html" title="スポーツカテゴリ記事">スポーツ</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49230299.html#comments" title="コメント一覧へ">16コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49230299.html" data-text="【画像】“美しすぎる新体操選手”畠山愛理ちゃんｗｗｗｗｗｗｗｗｗｗ - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49230299.html"><img src="http://resize.blogsys.jp/8a172f038713f9079a79eb36ee4e5e4fb85b0fe9/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/a/1/a1ffa2c3-s.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49230299.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->



<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49229097',
       permalink : 'http://kyousoku.net/archives/49229097.html',
       title : '【悲報】オードリー、コンビ仲が一番悪かった',
       categories : [ { id:'133286', name:'お笑い芸人', permalink:'http://kyousoku.net/archives/cat_133286.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-03 19:49:10'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49229097.html" title="個別記事ページへ" rel="bookmark">【悲報】オードリー、コンビ仲が一番悪かった</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-03T19:49:10+0900">2016年08月03日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_133286.html" title="お笑い芸人カテゴリ記事">お笑い芸人</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49229097.html#comments" title="コメント一覧へ">28コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49229097.html" data-text="【悲報】オードリー、コンビ仲が一番悪かった - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49229097.html"><img src="http://resize.blogsys.jp/c062284b2ef890a57836d39840b091dae6062e9c/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/e/4/e479ff6d.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49229097.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->



<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49227381',
       permalink : 'http://kyousoku.net/archives/49227381.html',
       title : '【悲報】「SMAP×SMAP」の木村拓哉と香取慎吾の距離がヤバすぎるｗｗｗｗｗｗｗｗｗｗ（画像あり）',
       categories : [ { id:'126055', name:'ジャニーズ', permalink:'http://kyousoku.net/archives/cat_126055.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-03 16:20:57'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49227381.html" title="個別記事ページへ" rel="bookmark">【悲報】「SMAP×SMAP」の木村拓哉と香取慎吾の距離がヤバすぎるｗｗｗｗｗｗｗｗｗｗ（画像あり）</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-03T16:20:57+0900">2016年08月03日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_126055.html" title="ジャニーズカテゴリ記事">ジャニーズ</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49227381.html#comments" title="コメント一覧へ">38コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49227381.html" data-text="【悲報】「SMAP×SMAP」の木村拓哉と香取慎吾の距離がヤバすぎるｗｗｗｗｗｗｗｗｗｗ（画像あり） - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49227381.html"><img src="http://resize.blogsys.jp/9f5222db3c7a33fa226028673eb140a5ffc85202/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/8/4/84ae7c1f.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49227381.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->



<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49227085',
       permalink : 'http://kyousoku.net/archives/49227085.html',
       title : '【悲報】「真田丸」で赤ちゃんがパンパース履いてるｗｗｗｗｗｗｗｗｗｗ（画像あり）',
       categories : [ { id:'101477', name:'テレビ', permalink:'http://kyousoku.net/archives/cat_101477.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-03 13:20:47'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49227085.html" title="個別記事ページへ" rel="bookmark">【悲報】「真田丸」で赤ちゃんがパンパース履いてるｗｗｗｗｗｗｗｗｗｗ（画像あり）</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-03T13:20:47+0900">2016年08月03日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_101477.html" title="テレビカテゴリ記事">テレビ</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49227085.html#comments" title="コメント一覧へ">20コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49227085.html" data-text="【悲報】「真田丸」で赤ちゃんがパンパース履いてるｗｗｗｗｗｗｗｗｗｗ（画像あり） - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49227085.html"><img src="http://resize.blogsys.jp/a81b1a6ae4abd1e6b529306853ea8a7f18d29c9a/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/7/d/7d33eb70-s.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49227085.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->



<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49225890',
       permalink : 'http://kyousoku.net/archives/49225890.html',
       title : '【悲報】「めちゃイケ」、深夜帯へ',
       categories : [ { id:'101477', name:'テレビ', permalink:'http://kyousoku.net/archives/cat_101477.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-03 10:08:34'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49225890.html" title="個別記事ページへ" rel="bookmark">【悲報】「めちゃイケ」、深夜帯へ</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-03T10:08:34+0900">2016年08月03日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_101477.html" title="テレビカテゴリ記事">テレビ</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49225890.html#comments" title="コメント一覧へ">63コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49225890.html" data-text="【悲報】「めちゃイケ」、深夜帯へ - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49225890.html"><img src="http://resize.blogsys.jp/2fc513aafc7e547e0d1ec1a2cacf0ee050510b31/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/0/9/09556cc0-s.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49225890.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->



<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49224172',
       permalink : 'http://kyousoku.net/archives/49224172.html',
       title : '【悲報】E-girlsアミちゃん（28）限界のお知らせ',
       categories : [ { id:'138112', name:'歌手', permalink:'http://kyousoku.net/archives/cat_138112.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-03 01:35:57'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49224172.html" title="個別記事ページへ" rel="bookmark">【悲報】E-girlsアミちゃん（28）限界のお知らせ</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-03T01:35:57+0900">2016年08月03日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_138112.html" title="歌手カテゴリ記事">歌手</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49224172.html#comments" title="コメント一覧へ">7コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49224172.html" data-text="【悲報】E-girlsアミちゃん（28）限界のお知らせ - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49224172.html"><img src="http://resize.blogsys.jp/312d529a382c6612ecf550f0679d2f59e7e6dd39/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/d/3/d32f92fc-s.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49224172.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->



<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49222817',
       permalink : 'http://kyousoku.net/archives/49222817.html',
       title : '【画像】フジテレビ「バイキング」、やらかすｗｗｗｗｗｗｗｗｗｗ',
       categories : [ { id:'101477', name:'テレビ', permalink:'http://kyousoku.net/archives/cat_101477.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-02 22:17:47'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49222817.html" title="個別記事ページへ" rel="bookmark">【画像】フジテレビ「バイキング」、やらかすｗｗｗｗｗｗｗｗｗｗ</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-02T22:17:47+0900">2016年08月02日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_101477.html" title="テレビカテゴリ記事">テレビ</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49222817.html#comments" title="コメント一覧へ">9コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49222817.html" data-text="【画像】フジテレビ「バイキング」、やらかすｗｗｗｗｗｗｗｗｗｗ - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49222817.html"><img src="http://resize.blogsys.jp/6a9459dcda345f92718e15ce53409ce37622c7fc/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/3/2/32e4d165.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49222817.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->



<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49221620',
       permalink : 'http://kyousoku.net/archives/49221620.html',
       title : '【悲報】小倉優子の夫、やらかすｗｗｗｗｗｗｗｗｗｗヤバすぎだろｗｗｗｗｗｗｗｗｗｗ',
       categories : [ { id:'126616', name:'タレント', permalink:'http://kyousoku.net/archives/cat_126616.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-02 18:51:39'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49221620.html" title="個別記事ページへ" rel="bookmark">【悲報】小倉優子の夫、やらかすｗｗｗｗｗｗｗｗｗｗヤバすぎだろｗｗｗｗｗｗｗｗｗｗ</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-02T18:51:39+0900">2016年08月02日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_126616.html" title="タレントカテゴリ記事">タレント</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49221620.html#comments" title="コメント一覧へ">24コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49221620.html" data-text="【悲報】小倉優子の夫、やらかすｗｗｗｗｗｗｗｗｗｗヤバすぎだろｗｗｗｗｗｗｗｗｗｗ - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49221620.html"><img src="http://resize.blogsys.jp/9db87f76bbe5c6db7c8b40f099575275216b5ccb/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/9/e/9ec2c18c.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49221620.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->



<script type="text/javascript"><!--
  if (ld_blog_vars) {
     ld_blog_vars.articles.push({
       id : '49219727',
       permalink : 'http://kyousoku.net/archives/49219727.html',
       title : '「リンカーン」とかいう編集が無能すぎて終わった番組ｗｗｗｗｗｗｗｗｗｗ',
       categories : [ { id:'101477', name:'テレビ', permalink:'http://kyousoku.net/archives/cat_101477.html' }, { id:'111923', name:'芸能', permalink:'http://kyousoku.net/archives/cat_111923.html' } ],
       date : '2016-08-02 15:45:43'
     });
  }
//-->
</script>



<div class="article-outer radius">

	<div class="article-body">
		<div class="article-body-inner">
		
		<div class="article-title-outer">
		<h2 class="article-title"><a href="http://kyousoku.net/archives/49219727.html" title="個別記事ページへ" rel="bookmark">「リンカーン」とかいう編集が無能すぎて終わった番組ｗｗｗｗｗｗｗｗｗｗ</a></h2>
	
	<ol id="navi1">
		<li class="date"><abbr title="2016-08-02T15:45:43+0900">2016年08月02日</abbr></li>
		<li class="category"><a href="http://kyousoku.net/archives/cat_101477.html" title="テレビカテゴリ記事">テレビ</a>・<a href="http://kyousoku.net/archives/cat_111923.html" title="芸能カテゴリ記事">芸能</a></li>
		<li class="comment"><a href="http://kyousoku.net/archives/49219727.html#comments" title="コメント一覧へ">34コメント</a></li>
		<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-url="http://kyousoku.net/archives/49219727.html" data-text="「リンカーン」とかいう編集が無能すぎて終わった番組ｗｗｗｗｗｗｗｗｗｗ - 今日速2ch" data-lang="ja">Tweet</a><script charset="utf-8" type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</li>
	</ol>

	</div>
				<p class="picc"><a href="http://kyousoku.net/archives/49219727.html"><img src="http://resize.blogsys.jp/24a3ada375deaf52cf48978168eba42dbdef3c57/crop1/300x200/http://livedoor.blogimg.jp/kyousoku1/imgs/d/8/d85582b1.jpg" class="picture"></a></p>
		
		<div class="body-continue radius">
		<a href="http://kyousoku.net/archives/49219727.html" title="続きを読む" class="radius">続きを読む</a>
		</div>

		</div>
	</div><!-- articleBody End -->
</div><!-- articleOuter End -->





<!-- google_ad_section_end -->
<!-- ArticlesLoop End -->

<div class=box3><script type="text/javascript" src="http://sh.adingo.jp/?G=1000016613&guid=ON"></script>
<script type="text/javascript">
//<![CDATA[
if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000023277');
//]]>
</script>　

<script type="text/javascript" src="http://sh.adingo.jp/?G=1000016614&guid=ON"></script>
<script type="text/javascript">
//<![CDATA[
if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000023278');
//]]>
</script>

</div>

<div class="pickupbox radius"><div class="pickuptitle">今週話題の芸能スポーツニュース</div><SCRIPT TYPE="text/javascript" SRC="http://pranking7.ziyu.net/js/kyousoku.js" charset=shift_jis></SCRIPT></div>

<div class="pager">
      <div class="pager-inner"><div class="index-navigator-outer nextpage"><ul class="index-navigator"><li class="paging-number"><ol class="paging-number"><li class="current" title="現在の表示ページ"><span>1</span></li><li><a href="http://kyousoku.net/?p=2" title="2ページ目へ">2</a></li><li><a href="http://kyousoku.net/?p=3" title="3ページ目へ">3</a></li><li><a href="http://kyousoku.net/?p=4" title="4ページ目へ">4</a></li><li><a href="http://kyousoku.net/?p=5" title="5ページ目へ">5</a>...</li></ol></li><li class="paging-next"><a rel="next" href="http://kyousoku.net/?p=2" title="次のページへ">次のページ</a></li><li class="paging-last"><a href="http://kyousoku.net/?p=1139" title="最後のページへ">&gt;&gt;|</a></li></ul></div></div>
</div>


</div>
</div>

<div id="sub" class="column">
<div class="column-inner">




<div class="plugin-memo sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">ブログについて</div>
</div>
<div class="sidetop"></div>
<div class="side">
<div class="sidebody3">2ch（２ちゃんねる）で今日話題になっている芸能ニュースやスポーツニュースを紹介するブログです。<br></div>

<div class="sidebody4">相互リンク・相互RSS募集中</div>

<div class="sidebody4"><a href="http://kyousoku.net/archives/1591541.html" target="_blank">About</a></div>

<div class="sidebody4"><a href="http://ws.formzu.net/fgen/S1788519/" target="_blank" rel="nofollow">メール</a></div>

<div class="sidebody3"><a href="https://twitter.com/kyousoku1" class="twitter-follow-button" data-show-count="false" data-lang="ja" rel="nofollow">@kyousoku1をフォロー</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></div>
<div class="sidebody3">twitterで更新情報を配信中</div>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-memo -->

<div class="plugin-memo sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">スポンサードリンク</div>
</div>
<div class="sidetop"></div>
<div class="side">
<div align=center><script type="text/javascript" src="http://sh.adingo.jp/?G=1000016610&guid=ON"></script>
<script type="text/javascript">
//<![CDATA[
if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000023274');
//]]>
</script></div>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-memo -->

<div class="plugin-search_internal sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">記事検索</div>
</div>
<div class="sidetop"></div>
<div align="center">
<div class="side">
 <form action="http://kyousoku.net/search" method="GET" style="padding:0;margin:0px;">
 <input type="TEXT" name="q" class="sf">
 <input type="SUBMIT" value="検索" class="sfbtn">
 </form>
</div></div>
<div class="sidebottom"></div>
</div><!-- // plugin-search_internal -->

<div class="plugin-recent_articles_image sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">最新記事</div>
</div>
<div class="sidetop"></div>
<div class="side">
<ul class="recent-article-image">
<li>

<a href="http://kyousoku.net/archives/49231440.html"><img src="http://resize.blogsys.jp/8ab07a3e913a853c86b4d684c230eb97939571a7/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/d/7/d7b8d77e-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49231440.html">【画像】広瀬すず、髪の毛をバッサリと切る</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49230299.html"><img src="http://resize.blogsys.jp/ae99b3cb6dc590cb551aa4ad1df63a9e7cd67104/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/a/1/a1ffa2c3-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49230299.html">【画像】“美しすぎる新体操選手”畠山愛理ちゃんｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49229097.html"><img src="http://resize.blogsys.jp/23edeb4fac1437ff11640994073fee8b5b929b94/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/e/4/e479ff6d.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49229097.html">【悲報】オードリー、コンビ仲が一番悪かった</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49227381.html"><img src="http://resize.blogsys.jp/c9f65917f6626366fe4b4793c5ecd44f87abc7a0/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/8/4/84ae7c1f.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49227381.html">【悲報】「SMAP×SMAP」の木村拓哉と香取慎吾の距離がヤバすぎるｗｗｗｗｗｗｗｗｗｗ（画像あり）</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49227085.html"><img src="http://resize.blogsys.jp/f832ba79faa6f1c1d277972c02cd733328082987/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/7/d/7d33eb70-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49227085.html">【悲報】「真田丸」で赤ちゃんがパンパース履いてるｗｗｗｗｗｗｗｗｗｗ（画像あり）</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49225890.html"><img src="http://resize.blogsys.jp/a563ee35ee16d538597aeb0bbe25f4c44a9f30f3/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/0/9/09556cc0-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49225890.html">【悲報】「めちゃイケ」、深夜帯へ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49224172.html"><img src="http://resize.blogsys.jp/d5388cacc6609b9d36cee9274d4c892dc69bc599/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/d/3/d32f92fc-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49224172.html">【悲報】E-girlsアミちゃん（28）限界のお知らせ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49222817.html"><img src="http://resize.blogsys.jp/ca3e74b7dc33ecb50c3175cdf79397a084068f55/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/3/2/32e4d165.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49222817.html">【画像】フジテレビ「バイキング」、やらかすｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49221620.html"><img src="http://resize.blogsys.jp/bfc16474a68088f25ec635ee70c9d622ff3812d3/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/9/e/9ec2c18c.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49221620.html">【悲報】小倉優子の夫、やらかすｗｗｗｗｗｗｗｗｗｗヤバすぎだろｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49219727.html"><img src="http://resize.blogsys.jp/d9cada3fbda488f1b0642571b8cfa696db32c022/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/d/8/d85582b1.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49219727.html">「リンカーン」とかいう編集が無能すぎて終わった番組ｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49218520.html"><img src="http://resize.blogsys.jp/24522990648098bafd5e98fb263691cade7f5260/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/1/6/16b7e3c4-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49218520.html">【悲報】ふなっしー、消えるｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49218432.html"><img src="http://resize.blogsys.jp/5c9244fd0e500255584eb3f1568f56330b410603/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/5/b/5b703657-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49218432.html">【画像】きゃりーぱみゅぱみゅの割れた腹筋ｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49216630.html"><img src="http://resize.blogsys.jp/abab337035792475ec052177ef6e75617e2f1536/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/e/c/ec011b8f-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49216630.html">【画像】元SPEEDメンバーで国会議員の今井絵理子（32）が完全におばさんになってる件</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49214014.html"><img src="http://resize.blogsys.jp/7075fc4c88856e6723ea4818965217c91c5d5228/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/2/a/2a2f4bda-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49214014.html">【画像】レイザーラモンHGが鍛えぬかれた身体で別人になってる</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49214082.html"><img src="http://resize.blogsys.jp/8125d0626082c339efd7c87d99ac6e08dda23273/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/2/a/2a39f865-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49214082.html">【画像】土屋太鳳ちゃんのすっぴんｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49212903.html"><img src="http://resize.blogsys.jp/a8147df5227eb63b8363d909b8f3517103010514/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/1/1/11bef949-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49212903.html">【悲報】板野友美、完全に落ちぶれるｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49211455.html"><img src="http://resize.blogsys.jp/46b48b78faefe9d5a2a9377157e752cf7f2b09b6/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/8/2/8264c088-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49211455.html">【驚愕】山本復帰「めちゃイケ」の視聴率ｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49210989.html"><img src="http://resize.blogsys.jp/46b48b78faefe9d5a2a9377157e752cf7f2b09b6/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/8/2/8264c088-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49210989.html">【衝撃】極楽とんぼの9月以降のスケジュールｗｗｗｗｗｗｗｗｗｗ</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49209329.html"><img src="http://resize.blogsys.jp/9850e1dd4f4bbf8d04435679f686c7bbc9210092/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/b/5/b5610ca6-s.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49209329.html">【悲報】橋本環奈ちゃん、激太り・・・・・・（画像あり）</a>
</li>

<li>

<a href="http://kyousoku.net/archives/49204745.html"><img src="http://resize.blogsys.jp/c723280dd03a68816532741d47b1a69c17b43a89/crop1/60x60/http://livedoor.blogimg.jp/kyousoku1/imgs/b/f/bf268199.jpg" alt="" /></a>

<a href="http://kyousoku.net/archives/49204745.html">【悲報】さまぁ～ずが消える!? Twitter、セクハラ、狩野アナいじめで好感度は急降下</a>
</li>
</ul>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-recent_articles_image -->

<div class="plugin-categorize sidewrapper" id="plugin-categorize-836017">
    <div class="sidetitlebody">
        <div class="sidetitle">カテゴリ別アーカイブ</div>
    </div>
    <div class="sidetop"></div>
    <div class="side">

      

        <div style="text-align: center;"><form style="margin:0px;padding:0px;">
            <select name="u" onChange="JavaScript:location.href=this.value;return false;">
                <option value="" selected>カテゴリを選択</option>
            
        
                <option value="http://kyousoku.net/archives/cat_138112.html" onChange="JavaScript:location.href=this.value;return false;">歌手 (1120)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_138298.html" onChange="JavaScript:location.href=this.value;return false;">CM (46)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_138688.html" onChange="JavaScript:location.href=this.value;return false;">俳優 (386)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_138715.html" onChange="JavaScript:location.href=this.value;return false;">ゲーム (11)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_140000.html" onChange="JavaScript:location.href=this.value;return false;">漫画 (33)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_141651.html" onChange="JavaScript:location.href=this.value;return false;">日本代表 (4)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_142252.html" onChange="JavaScript:location.href=this.value;return false;">高校野球 (32)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_142606.html" onChange="JavaScript:location.href=this.value;return false;">ゴルフ (11)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_143838.html" onChange="JavaScript:location.href=this.value;return false;">マラソン (26)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_146148.html" onChange="JavaScript:location.href=this.value;return false;">プロレス (17)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_147994.html" onChange="JavaScript:location.href=this.value;return false;">フィギュアスケート (73)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_152242.html" onChange="JavaScript:location.href=this.value;return false;">声優 (65)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_153237.html" onChange="JavaScript:location.href=this.value;return false;">オリンピック (194)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_154679.html" onChange="JavaScript:location.href=this.value;return false;">ドラマ (58)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_155151.html" onChange="JavaScript:location.href=this.value;return false;">アニメ (20)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_162412.html" onChange="JavaScript:location.href=this.value;return false;">将棋 (1)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_163800.html" onChange="JavaScript:location.href=this.value;return false;">アナウンサー (36)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_169535.html" onChange="JavaScript:location.href=this.value;return false;">バスケットボール (8)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_182240.html" onChange="JavaScript:location.href=this.value;return false;">ニコニコ動画 (5)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_185477.html" onChange="JavaScript:location.href=this.value;return false;">スキー (2)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_190452.html" onChange="JavaScript:location.href=this.value;return false;">ラジオ (24)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_192852.html" onChange="JavaScript:location.href=this.value;return false;">スノーボード (1)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_195551.html" onChange="JavaScript:location.href=this.value;return false;">K-POP (27)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_197508.html" onChange="JavaScript:location.href=this.value;return false;">バレーボール (21)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_207602.html" onChange="JavaScript:location.href=this.value;return false;">水泳 (20)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_126616.html" onChange="JavaScript:location.href=this.value;return false;">タレント (1506)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_126936.html" onChange="JavaScript:location.href=this.value;return false;">Twitter (72)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_127955.html" onChange="JavaScript:location.href=this.value;return false;">女優 (1090)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_127180.html" onChange="JavaScript:location.href=this.value;return false;">アイドル (478)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_127870.html" onChange="JavaScript:location.href=this.value;return false;">NMB48 (74)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_128383.html" onChange="JavaScript:location.href=this.value;return false;">ワールドカップ (11)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_128514.html" onChange="JavaScript:location.href=this.value;return false;">視聴率 (294)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_128690.html" onChange="JavaScript:location.href=this.value;return false;">ボクシング (48)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_133175.html" onChange="JavaScript:location.href=this.value;return false;">F1 (18)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_133252.html" onChange="JavaScript:location.href=this.value;return false;">映画 (167)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_133253.html" onChange="JavaScript:location.href=this.value;return false;">ブログ (64)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_133286.html" onChange="JavaScript:location.href=this.value;return false;">お笑い芸人 (1472)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_134762.html" onChange="JavaScript:location.href=this.value;return false;">モデル (327)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_134910.html" onChange="JavaScript:location.href=this.value;return false;">大相撲 (16)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_136142.html" onChange="JavaScript:location.href=this.value;return false;">テニス (40)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_111923.html" onChange="JavaScript:location.href=this.value;return false;">芸能 (8886)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_125399.html" onChange="JavaScript:location.href=this.value;return false;">スポーツ (610)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_118097.html" onChange="JavaScript:location.href=this.value;return false;">音楽 (253)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_126055.html" onChange="JavaScript:location.href=this.value;return false;">ジャニーズ (399)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_126056.html" onChange="JavaScript:location.href=this.value;return false;">陸上 (8)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_126048.html" onChange="JavaScript:location.href=this.value;return false;">競馬 (33)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_126060.html" onChange="JavaScript:location.href=this.value;return false;">バスケットボール (3)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_126064.html" onChange="JavaScript:location.href=this.value;return false;">SKE48 (44)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_125702.html" onChange="JavaScript:location.href=this.value;return false;">女子アナ (149)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_125398.html" onChange="JavaScript:location.href=this.value;return false;">サッカー (415)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_101477.html" onChange="JavaScript:location.href=this.value;return false;">テレビ (1807)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_101478.html" onChange="JavaScript:location.href=this.value;return false;">格闘技 (32)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_105439.html" onChange="JavaScript:location.href=this.value;return false;">海外 (110)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_105445.html" onChange="JavaScript:location.href=this.value;return false;">ネット (19)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_105448.html" onChange="JavaScript:location.href=this.value;return false;">政治・経済 (34)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_125428.html" onChange="JavaScript:location.href=this.value;return false;">プロ野球 (466)</option>
        
            
        
                <option value="http://kyousoku.net/archives/cat_125434.html" onChange="JavaScript:location.href=this.value;return false;">AKB48 (1067)</option>
        
    </select>
        </form></div>

    </div>    
    <div class="sidebottom"></div>
</div><!-- // plugin-categorize -->

<div class="plugin-monthly sidewrapper" id="plugin-monthly-836009">
<div class="sidetitlebody">
<div class="sidetitle">月別アーカイブ</div>
</div>
<div class="sidetop"></div>
<div class="side">

<div align="center"><form style="margin:0px;padding:0px;">
<select name="u" onChange="JavaScript:location.href=this.value;return false;">

<option value="" selected>月を選択</option>
<option value="http://kyousoku.net/archives/2016-08.html">2016年08月</option>

<option value="http://kyousoku.net/archives/2016-07.html">2016年07月</option>

<option value="http://kyousoku.net/archives/2016-06.html">2016年06月</option>

<option value="http://kyousoku.net/archives/2016-05.html">2016年05月</option>

<option value="http://kyousoku.net/archives/2016-04.html">2016年04月</option>

<option value="http://kyousoku.net/archives/2016-03.html">2016年03月</option>

<option value="http://kyousoku.net/archives/2016-02.html">2016年02月</option>

<option value="http://kyousoku.net/archives/2016-01.html">2016年01月</option>

<option value="http://kyousoku.net/archives/2015-12.html">2015年12月</option>

<option value="http://kyousoku.net/archives/2015-11.html">2015年11月</option>

<option value="http://kyousoku.net/archives/2015-10.html">2015年10月</option>

<option value="http://kyousoku.net/archives/2015-09.html">2015年09月</option>

<option value="http://kyousoku.net/archives/2015-08.html">2015年08月</option>

<option value="http://kyousoku.net/archives/2015-07.html">2015年07月</option>

<option value="http://kyousoku.net/archives/2015-06.html">2015年06月</option>

<option value="http://kyousoku.net/archives/2015-05.html">2015年05月</option>

<option value="http://kyousoku.net/archives/2015-04.html">2015年04月</option>

<option value="http://kyousoku.net/archives/2015-03.html">2015年03月</option>

<option value="http://kyousoku.net/archives/2015-02.html">2015年02月</option>

<option value="http://kyousoku.net/archives/2015-01.html">2015年01月</option>

<option value="http://kyousoku.net/archives/2014-12.html">2014年12月</option>

<option value="http://kyousoku.net/archives/2014-11.html">2014年11月</option>

<option value="http://kyousoku.net/archives/2014-10.html">2014年10月</option>

<option value="http://kyousoku.net/archives/2014-09.html">2014年09月</option>

<option value="http://kyousoku.net/archives/2014-08.html">2014年08月</option>

<option value="http://kyousoku.net/archives/2014-07.html">2014年07月</option>

<option value="http://kyousoku.net/archives/2014-06.html">2014年06月</option>

<option value="http://kyousoku.net/archives/2014-05.html">2014年05月</option>

<option value="http://kyousoku.net/archives/2014-04.html">2014年04月</option>

<option value="http://kyousoku.net/archives/2014-03.html">2014年03月</option>

<option value="http://kyousoku.net/archives/2014-02.html">2014年02月</option>

<option value="http://kyousoku.net/archives/2014-01.html">2014年01月</option>

<option value="http://kyousoku.net/archives/2013-12.html">2013年12月</option>

<option value="http://kyousoku.net/archives/2013-11.html">2013年11月</option>

<option value="http://kyousoku.net/archives/2013-10.html">2013年10月</option>

<option value="http://kyousoku.net/archives/2013-09.html">2013年09月</option>

<option value="http://kyousoku.net/archives/2013-08.html">2013年08月</option>

<option value="http://kyousoku.net/archives/2013-07.html">2013年07月</option>

<option value="http://kyousoku.net/archives/2013-06.html">2013年06月</option>

<option value="http://kyousoku.net/archives/2013-05.html">2013年05月</option>

<option value="http://kyousoku.net/archives/2013-04.html">2013年04月</option>

<option value="http://kyousoku.net/archives/2013-03.html">2013年03月</option>

<option value="http://kyousoku.net/archives/2013-02.html">2013年02月</option>

<option value="http://kyousoku.net/archives/2013-01.html">2013年01月</option>

<option value="http://kyousoku.net/archives/2012-12.html">2012年12月</option>

<option value="http://kyousoku.net/archives/2012-11.html">2012年11月</option>

<option value="http://kyousoku.net/archives/2012-10.html">2012年10月</option>

<option value="http://kyousoku.net/archives/2012-09.html">2012年09月</option>

<option value="http://kyousoku.net/archives/2012-08.html">2012年08月</option>

<option value="http://kyousoku.net/archives/2012-07.html">2012年07月</option>

<option value="http://kyousoku.net/archives/2012-06.html">2012年06月</option>

<option value="http://kyousoku.net/archives/2012-05.html">2012年05月</option>

<option value="http://kyousoku.net/archives/2012-04.html">2012年04月</option>

<option value="http://kyousoku.net/archives/2012-03.html">2012年03月</option>

<option value="http://kyousoku.net/archives/2012-02.html">2012年02月</option>

<option value="http://kyousoku.net/archives/2012-01.html">2012年01月</option>

<option value="http://kyousoku.net/archives/2011-12.html">2011年12月</option>
</select>
</form></div>

</div>
<div class="sidebottom"></div>
</div><!-- // plugin-monthly -->

<div class="plugin-popular_articles_with_image sidewrapper">
  <div class="sidetitlebody">
    <div class="sidetitle">人気記事</div>
  </div>
  <div class="sidetop"></div>
  <div class="side">

<div class="popularArticlesWithImage plugin A"
     id="popularArticlesWithImagePlugin-5396184">
<ul></ul>
<script type="text/javascript" src="http://parts.blog.livedoor.jp/plugin/popular_articles_with_image_plugin.js?v=20160803"></script>
<script type="text/html" id="tmpl-popularArticlesWithImagePlugin-5396184">
<li class="popularArticleWithImage">
<div>
<a href="<%= article.url %>" title="<%= article.title %>">
<div class="image <%= article.image.thumbnail ? '' : 'noimage' %>">
<% if (article.image.thumbnail) { %>
<img id="image-popularArticlesWithImagePlugin-5396184-<%= article.id%>"
     src="<%= article.image.thumbnail %>"
     alt="" />
<% } %>
</div>
<% if (comment) { %>
<div class="comment" id="comment-popularArticlesWithImagePlugin-5396184-<%= article.id%>"></div>
<% } else if (retweet) { %>
<div class="retweet" id="retweet-popularArticlesWithImagePlugin-5396184-<%= article.id%>"></div>
<% } else if (pv) { %>
<div class="pv"><%= article.count %>PV</div>
<% } %>
<div class="title" id="title-popularArticlesWithImagePlugin-5396184-<%= article.id%>"><%= article.title %></div>
</a>
</div>
</li>
</script>

<script type="text/javascript">
(function(){
var opts = {
id:      'popularArticlesWithImagePlugin-5396184',
asPlugin: true,
type:    'A',
offset:  Number('0'),
count:   Number('10'),

rangeType:'month0',

from: Number('1'),


range: Number('30'),


width: null,
retweet: false,
comment: false,
pv: false,
color: {
 foreground:'' || null,
 background:'' || null
},
imageWidth:  Number('200' || 0) || null,
imageHeight: Number('120' || 0) || null,lastProperty: null
};
(new LDBlogPopularArticlesWithImagePlugin(opts)).init();
})();
</script>
</div>

</div>
<div class="sidebottom"></div>
</div>

<div class="plugin-memo sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">リンクサイト</div>
</div>
<div class="sidetop"></div>
<div class="side">
<div class="sidebody4">2chまとめブログ</div>

<div class="sidebody3">■<a href="http://akb48taimuzu.livedoor.biz/" target="_blank">AKB48タイムズ</a></div>

<div class="sidebody3">■<a href="http://cowboy.blog.jp/" target="_blank">GIANTS BLOG</a></div>

<div class="sidebody3">■<a href="http://blog.livedoor.jp/nyusokudeyaruo/" target="_blank">やる夫.jp</a></div>

<div class="sidebody3">■<a href="http://fesoku.net/" target="_blank">ふぇー速</a></div>

<div class="sidebody4">アンテナサイト</div>

<div class="sidebody3">■<a href="http://2ch-c.net/" target="blank">しぃアンテナ(*ﾟーﾟ)</a></div>

<div class="sidebody3">■<a href="http://get2ch.net/" target="_blank">2GET</a></div>

<div class="sidebody3">■<a href="http://matome-plus.com/" target="_blank">まとめサイト速報+</a></div>

<div class="sidebody3">■<a href="http://newsoku.oowata.com/" target="_blank">オワタあんてな私用＼(^o^)／</a></div>

<div class="sidebody3">■<a href="http://uhouho2ch.com/" target="_blank">ウホウホアンテナ</a></div>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-memo -->

<div class="plugin-memo sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">オススメ記事</div>
</div>
<div class="sidetop"></div>
<div class="side">
<div id="popularArticlesWithImagePlugin-5396184" class="popularArticlesWithImage plugin A">
<ul>
<SCRIPT TYPE="text/javascript" SRC="http://kyousoku.net/js/sideimagerss.js"></SCRIPT>
</ul>      
</div>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-memo -->





</div>
</div>

</div><!-- content End -->

<ul id="go_navi">
<li><a href="#header-top" id="go_top" title="上へ戻る"><span></span></a></li>
<li><a href="#footer" id="go_bottom" title="下へ行く"><span></span></a></li>
</ul>

</div><!-- container End -->
<div id="footer" class="footer-outer radius2">
<p>Copyright &copy; 2011 <a href="http://kyousoku.net/">今日速2ch - 2ちゃんねるまとめブログ</a> All Rights Reserved.<br><br>

<!--shinobi1-->
<script type="text/javascript" src="http://x7.tuzigiri.com/ufo/117578600"></script>
<noscript><a href="http://x7.tuzigiri.com/bin/gg?117578600" target="_blank">
<img src="http://x7.tuzigiri.com/bin/ll?117578600" border="0"></a></noscript>
<!--shinobi2-->
<br>
<SCRIPT TYPE="text/javascript" SRC="http://rranking5.ziyu.net/rank.php?kyousoku"></SCRIPT><A href="http://www.ziyu.net/" target="_blank" rel="nofollow"><IMG SRC="http://rranking5.ziyu.net/rranking.gif" alt="アクセスランキング" border=0 width=35 height=11></A>
</p>

</div>
<script src="http://kyousoku.net/js/remove.js"></script>

<!-- Add Body Tag // --><script type="text/javascript">
(function(){
  var traq = document.createElement('script'); traq.type = 'text/javascript'; traq.async = true;
  traq.src = 'http://t.blog.livedoor.jp/u.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(traq, s);
})();
</script>
<noscript>
<img src="http://t.blog.livedoor.jp/u.gif" alt="traq">
</noscript>
<!-- // Add Body Tag -->

</body>
</html>